*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url("https://raw.githubusercontent.com/Basith-P/Karma-KMCT/main/public/assets/Desktop-3.png");
}

.nav {
    background-color: black;
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

h2 {
    text-align: center;
    padding-top: 20px;
}

.desc {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 2px;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 2px;
}

.gallery-img {
    margin-top: 4px;
    vertical-align: middle;
    width: 100%;
}

@media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }

  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }