.gallerySection {
  padding: 2rem 1.5rem;
}

.galleryBg {
  padding: 9rem;
}

.galleryHeading {
  font-size: 5rem;
  text-align: center;
  margin: 20px auto 10px;
  color: #fff;
}

.galleryHeading::after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 160px;
  height: 4px;
  text-align: center;
  background-image: linear-gradient(90deg, #09B35C 2.27%, #32B4ED 97.67%);
}

.desc {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

/* Main page */

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.gallery-folders {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  margin: 20px;
}

.gallery-folders:hover .card img {
filter: grayscale(1);
}

.gallery-folders .card {
  background-color: black;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
  border: 2px solid skyblue;
}



.gallery-folders .card img {
  width: 100%;
  transition: transform .2s ease-out;
}

.gallery-folders .card:hover img {
filter: none;
transform: scale(1.1);
width: 100%;
}

.gallery-folders .card .card-content {
  padding: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row:hover .gallery-img{
filter: grayscale(1);
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: .7rem;
}

.img-wrapper {
margin-top: 4px;
overflow: hidden;
margin-bottom: 1rem;
}

.img-wrapper:hover .gallery-img {
filter: none;
}

.gallery-img {
  vertical-align: middle;
  width: 100%;
  transition: all .3s ease-out;
}

.gallery-img:hover {
transform: scale(1.1);
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}