.ambaSection {
    padding: 2rem 1.5rem;
}

.tech {
    width: 100%;
    display: flex; 
    margin-top: 5rem;
}

.headingBox {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.5rem 1rem;
}

.scrollBox {
    max-height:65rem;
    overflow-y: auto;
    padding: 1rem 1.4rem;
}

.scrollBox::-webkit-scrollbar {
    width: 7px;
  }

.scrollBox::-webkit-scrollbar-thumb {
    background: rgba(110, 109, 109, 0.726);
  }

.imgBox {
    margin: 2rem auto;
    padding: 0 4rem;
    flex-basis: 75%;
}

.heading {
    font-size: 4rem;
    margin-bottom: 1.5rem;
}

.para {
    font-size: 2rem;
    margin-bottom: 2.5rem;
    line-height: 3.4rem;
}

.img {
    width: 100%;
}

.btn {
    margin-top: 3rem;
    align-self: flex-start;
    background-image: linear-gradient(to bottom right, #09B326, #32B4ED);
    padding: 1.5rem 1.7rem;
    border: none;
    border-radius: 9px;
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    transition: all .3s;
}

.btn:hover {
    cursor: pointer;
    background-image: linear-gradient(to top left, #09B326, #32B4ED);
    transition: all .3s;
}

.backdrop {
    width: 65%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.758);
    padding: 4rem 5rem;
}

.bkdHeadingBox {
    text-align: center;
    margin-bottom: 3rem;
}

.fieldBox {
    margin: 0 auto;
    background-color: red;
}

.fees {
    font-size: 2.7rem;
    font-weight: 500;
}

.amount {
    font-size: 3.5rem;
    font-weight: 700;
}

.cont {
    font-size: 2.3rem;
}

.bkdHeading {
    font-size: 3rem;
}

.inputBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    justify-items: center;
}

@media screen and (max-width: 480px) {
    .inputBox {
        grid-template-columns: repeat(1, 1fr);
    } 

    .tech {
        flex-direction: column;
    }

    .scrollBox {
        order: 1;
    }

    .imgBox {
        flex-basis: 90%;
    }

    .btn {
        align-self: center;
    }
}