.cardBox {
    background: rgba(0, 0, 0, 0.612);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.612);
    padding: 3rem 6rem;
    margin-top: 5rem;
}

.headingBox {
    text-align: center;
    position: relative;
}

.heading {
    text-transform: uppercase;
    font-size: 3rem;
    letter-spacing: .3rem;
    color: #fff;
}

.heading::before {
    content: '';
    position: absolute;
    bottom: 0; 
    left: 50%;
    transform: translate(-50%, 0);
    width: 150px;
    height: 4px;
    text-align: center;
    background-image: linear-gradient(90deg, #09B35C 2.27%, #32B4ED 97.67%);
  }

.box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 4rem;
}

.boxHeading {
    color: #fff;
    font-size: 2rem;
    font-weight: 400;
    margin-top: 3rem;
}

.boxContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.span {
    font-size: 1.7rem;
    font-weight: 500;
    color: gray;
}

@media screen and (max-width: 480px) {
    .box {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    
}