.cultural {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
    max-width: 90%;
    margin: 5rem auto;
    padding: 3rem 6rem;
}

.card {
    margin: 0 auto;
    width: 35rem;
    color: #fff;
    box-shadow: 0 8px 7px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.imgBox {
    width: 100%;
    border: 2px solid transparent;
    border-image: linear-gradient(to bottom right, #09B326, #32B4ED);
    border-image-slice: 1;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.textBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem .3rem;
    gap: 1.5rem;
}

.heading {
    font-size: 2.5rem;
    text-align: center;
}

.btn {
    background-image: linear-gradient(to bottom right, #09B326, #32B4ED);
    padding: .5rem 1.7rem;
    border: none;
    border-radius: 5px;
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
    transition: all .3s;
    text-decoration: none;
    list-style: none;
}

@media screen and (max-width:480px) {

    .btn {
        font-size: 1.7rem;
        padding: .8rem 2.6rem;
    }

}

@media screen and (max-width:390px) {
    /* .cultural {
        grid-template-columns: repeat(auto-fit, minmax(132px, 1fr));
    } */
}