.ambaSection {
    padding: 3rem 1.5rem;
}

.ambassadar {
    background-color: rgba(0, 0, 0, 0.432);
    display: flex;
    margin: 0 auto;
    padding: 2rem 6rem;
    border-radius: 12px;
    justify-content: space-between;
}

.headingBox {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imgBox {
    flex: 1;
    margin: 0 auto;
    padding: 0 4rem;
    flex-basis: 70%;
}

.heading {
    font-size: 4rem;
    margin-bottom: 1.5rem;
}

.para {
    font-size: 1.8rem;
    margin-bottom: 2.5rem;
    font-weight: 300;
    color: rgb(236, 235, 235);
}

.img {
    width: 100%;
}

.btn {
    align-self: flex-start;
    background-image: linear-gradient(to bottom right, #09B326, #32B4ED);
    padding: 1.5rem 1.7rem;
    border: none;
    border-radius: 9px;
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    transition: all .3s;
}

.btn:hover {
    cursor: pointer;
    background-image: linear-gradient(to top left, #09B326, #32B4ED);
    transition: all .3s;
}

.backdrop {
    width: 65%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.758);
    padding: 4rem 5rem;
}

.bkdHeadingBox {
    text-align: center;
    margin-bottom: 3rem;
}

.fieldBox {
    margin: 0 auto;
    background-color: red;
}

.bkdHeading {
    font-size: 3rem;
}

.inputBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    justify-items: center;
}

@media screen and (max-width: 480px) {
    .inputBox {
        grid-template-columns: repeat(1, 1fr);
    } 

    .ambassadar {
        display: flex;
        flex-direction: column;
    }

    .headingBox {
        order: 2;
    }

    .imgBox {
        order: 1;
    }

    .btn {
        align-self: center;
    }
}   