.dropdown {
    width: 15rem;
    position: absolute;
    top: 75px;
    right: 355px;
    text-align: start;
    background: #040303;
    border-radius: 5px;
    padding: .5rem .7rem;
}

.drops {
    cursor: pointer;
    list-style: none;
} 

.links {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;
    opacity: 80%;
    padding: 10px;
    transition: all.5s;
}

.links:hover {
    background-image: linear-gradient(to bottom right,#09B326, #32B4ED);
    -webkit-background-clip: text;
    color: transparent;
    transition: all.5s;
}

@media only screen and (max-width: 480px) {
    .dropdown {
        width: 30rem;
        position: absolute;
        top: 125px;
        right: 55px;
        text-align: start;
        border-radius: 9px;
    }
}