.dropdown {
    width: 15rem;
    position: absolute;
    top: 65px;
    text-align: start;
    background: rgba(0, 0, 0, 0.705);
    border-radius: 1rem;
}

.dropdown li {
    cursor: pointer;
    color: #fff;
    list-style: none;
}

.links {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

@media only screen and (max-width: 480px) {
    .dropdown {
        width: 30rem;
        position: absolute;
        top: 195px;
        right: 70px;
        text-align: start;
        background: rgba(32, 32, 32, 0.356);
        border-radius: 1rem;
    }
}