.card {
  margin: 0 auto;
  width: 34rem;
  color: #fff;
  box-shadow: 0 8px 7px 0px rgba(0, 0, 0, 0.2);
  /* padding: 1; */
}

.imgBox {
  width: 100%;

}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border: 2px solid transparent;
  border-image: linear-gradient(to bottom right, var(--grad-2-light), var(--grad-1-light));
  border-image-slice: 1; */
}

.textBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.9rem 0.3rem;
  gap: 1.5rem;
  /* height: 15rem; */
  justify-content: flex-end;
}

.heading {
  font-size: 2.4rem;
  text-align: center;
}
