.footer {
    width: 100%;
}

.elements {
    background-color: #393737;

    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 7rem;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.logoBox {
    display: flex;
    justify-content: center;
}

    .footer_karma {
        width: 25%;
        margin-right: 4rem;
    }

    .footer_kmct {
        width: 25%;
    }

.linkBox {
    display: flex;
}

.links {
    list-style: none;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 500;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.socialIcons {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.anchor {
    text-decoration: none;
    color: #fff;
    list-style: none;
}

.anchor:hover {
    color: rgb(214, 214, 214);
}

.social {
    font-size: 3rem;
}

.copyright {
    padding: .7rem 1rem;
    background-image: linear-gradient(90deg, #2EB4DE 0.83%, #0FB472 98.65%);
    text-align: center;
    color: #fff;
}

@media screen and (max-width: 480px) {
   .links {
       font-size: 1.2rem;
   }
   .footer_karma {
    width: 30%;
}

.footer_kmct {
    width: 30%;
}
}