.eventPage {
    padding: 3rem 1.5rem;
}

.types {
    text-align: center;
}

.btn {
    background-image: linear-gradient(to bottom right, #09B326, #32B4ED);
    padding: .6rem 3rem;
    border: none;
    border-radius: 9px;
    font-size: 2rem;
    font-weight: 400;
    color: #fff;
    transition: all .3s;
    text-decoration: none;
    list-style: none;
}

.btn:not(:last-child) {
    margin-right: 5rem;
}

@media screen and (max-width: 480px) {
    .btn {
        font-size: 2.8em;
    }
}