.eventPage {
    padding: 3rem 1.5rem;
    width: 100%;
}

.types {
    width: 100%;
    display: flex;
    gap: 4rem;
    padding: 3rem 5rem;
    justify-content: center;
    align-items: center;
}

.btn {
    /* background-image: linear-gradient(to bottom right, #09B326, #32B4ED); */
    border: 2px solid transparent;
    border-image: linear-gradient(to bottom right, #09B326, #32B4ED);
    border-image-slice: 1;
    padding: .6rem 3rem;
    font-size: 2rem;
    font-weight: 400;
    color: #fff;
    transition: all .3s;
    text-decoration: none;
    list-style: none;
}

.btn:hover {
    background-image: linear-gradient(to bottom right, #09B326, #32B4ED);
    border: none;
}

.active {
    background-image: linear-gradient(to bottom right, #09B326, #32B4ED);
    border: none;
}

.btn:not(:last-child) {
    margin-right: 2rem;
}

@media screen and (max-width: 480px) {
    .btn {
        font-size:2rem;
    }
    
    .types {
        align-items: center;
        flex-wrap: wrap;
    }


}